<div class="jumbotron">
  <h1>Banner</h1>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image), listing %>
          <div class="caption">
            <h3><%= listing.item %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold By #{listing.user.name}" %></p>
            <% if current_user == listing.user %>
              <p>
                <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
                <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
