<h1>Manage Listings</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Action</th>
	</tr>
	<% @listings.each do |listing| %>
		<tr>
			<td><%= image_tag listing.image.url(:thumb) %></td>
			<td><%= listing.item %></td>
			<td><%= listing.description %></td>
			<td><%= number_to_currency(listing.price) %></td>
			<td>
		        <div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Action <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><%= link_to 'View', listing %></li>
				    <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
				    <li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></li>
				  </ul>
				</div>
			</td>
		</tr>
	<% end %>
</table>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>