<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image %>
    </div>
  </div>
  <div class="col-md-6">
    	<h3><%= @listing.item %></h3>
    	<h5><%= number_to_currency(@listing.price) %></h5>
    	<p><%= @listing.description %></p>
    <div class="center">
      <%= link_to 'Buy It Now', new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
