<%= form_for([@listing, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag @listing.image %>
      </div>
      <h3><%= @listing.item %></h3>
      <p><%= number_to_currency(@listing.price) %></p>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, {:name => nil, :'data-stripe' => "number", class: "form-control"} %>
          </div>
          <div class="col-md-4">
            <%= label_tag :cvc, "CVC" %>
            <%= text_field_tag :cvc, nil, {:name => nil, :'data-stripe' => "cvc", class: "form-control"} %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :date, "Expiration Date" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month(nil, {use_two_digit_numbers: true}, {:name => nil, :'data-stripe' => "exp_month", class: "form-control"}) %>
          </div>
          <div class="col-md-3">
            <%= select_year(nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {:name => :nil, :'data-stripe' => "exp_year", class: "form-control"}) %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Complete Order", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
