<h1>Your Sales History</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Price</th>
		<th>Customer</th>
		<th>Date Sold</th>
	</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><%= image_tag order.listing.image.url(:thumb) %></td>
			<td><%= order.listing.item %></td>
			<td><%= number_to_currency(order.listing.price) %></td>
			<td><%= order.buyer.name %></td>
			<td><%= order.created_at.strftime("%B %-d, %Y") %>
		</tr>
	<% end %>
</table>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>