<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
	<p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     
	<%= yield %>
	<%= render "layouts/footer" %>
</div>

</body>
</html>
